/* 
File Name default.css
Version 2.0
Updated 07.08.13
Package ParentTheme_VC
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */


/*
Google Fonts
https://www.google.com/fonts#UsePlace:use/Collection:Cutive+Mono|Open+Sans:400italic,700italic,400,700
font-family: 'Cutive Mono', Arial, Verdana, Helvetica, serif;
font-family: 'Open Sans', Arial, Verdana, Helvetica, sans-serif;
*/


body { line-height:22px; font-family:Arial, Verdana, Helvetica; background:url('../images/bg-clouds.jpg') center top repeat-x fixed; }
#page { font-size:14px; min-height:100%; }
.outer-wrap { position:relative; }
.inner-wrap { max-width:614px; padding:0 23px; position:relative; margin:0 auto; text-align:left; }

a, a:visited { 
	color:#0d6b95; text-decoration:none; 
	-webkit-transition:all 0.1s ease-in; -moz-transition:all 0.1s ease-in; -o-transition:all 0.1s ease-in; transition:all 0.1s ease-in;
}
a:hover {}

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 { color:#0d6b95; font-family:'Open Sans', sans-serif; font-weight:400; display:block; line-height:1.1em; }
.h1, h1 { font-size:30px; }
.h2, h2 { font-size:26px; }
.h3, h3 { font-size:23px; }
.h4, h4 { font-size:20px; }
.h5, h5 { font-size:18px; color:#b9b8b8; }
.h6, h6 { font-size:14px; }

/*
border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px; -o-border-radius:7px;
box-shadow:0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5); -o-box-shadow:0 1px 3px rgba(0,0,0,0.5);
filter: blur(5px); -webkit-filter: blur(5px); -moz-filter: blur(5px); -o-filter: blur(5px); -ms-filter: blur(5px);
-webkit-transition:all 0.1s ease-in; -moz-transition:all 0.1s ease-in; -o-transition:all 0.1s ease-in; transition:all 0.1s ease-in;
*/



.line { border-top:solid 3px #ebebeb; }






/* Forms
#################################################################################################### */
input, textarea {}
textarea,
input[type="text"],
input[type="password"],
input[type="email"]
{ font-size:12px; font-family:Verdana; border:solid 1px #aaa; border-top-color:#666; padding:3px 7px; }
textarea { width:98%; height:100px; }

label.error { color:red; }






/* Icons
#################################################################################################### */
.ic-icon-name { display:block; width:10px; height:10px; background:url('../images/ic-icon-name.png') left top no-repeat; }






/* Buttons
#################################################################################################### */
.btn { cursor:pointer; display:inline-block; padding:2px 6px; }






/* Images
Usage - class="img img-name-here" -- allows controlled image sizes for retina display
#################################################################################################### */
.img img { max-width:100%; height:auto; }

.img-name-here { display:block; width:512px; height:512px; }






/* Blocks
#################################################################################################### */


#header .inner-wrap { height:120px; }
#img-birds { position:absolute; top:45px; left:14%; }



#content-wrap { z-index:1; }
#content-wrap .inner-wrap { padding:23px 23px 200px; 
	background:url('../images/bg-content-wrap-inner.png') right bottom no-repeat #fff; 
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
	box-shadow:0 1px 2px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5); -o-box-shadow:0 1px 2px rgba(0,0,0,0.5);
}
#footer { z-index:0; }
#footer img { max-width:100%; height:auto; }






/* General Links
#################################################################################################### */


/* Main Navigation Links */
#primary-navigation { position:absolute; top:5px; left:5px; color:#fff; font-size:24px; line-height:30px; }
#primary-navigation a { display:inline-block; padding:0 3px; opacity:0.5; color:#fff; text-decoration:none; }
#primary-navigation a:hover { opacity:1; }

#primary-navigation #site-title { font-size:20px; font-family: 'Cutive Mono', serif; }


/* Navigation */
.navigation-post { display:block; clear:both; text-align:left; padding:3px 7px; }
.prev-post { padding-left:7px; }
.next-post { padding-right:7px; }

.wp-pagenavi a,
.wp-pagenavi span { padding:3px 4px; margin:3px; }

#navigation-breadcrumb { font-weight:bold; padding-bottom:3px; display:block; clear:both; }
.navigation-posts { font-weight:bold; padding-bottom:3px; display:block; clear:both; text-align:center; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }
#loop-default .hentry { padding:45px 0 15px 0; }
#loop-default .hentry:first-child { padding:0 0 15px 0; }



/* Meta Data */
.meta-data { font-size:12px; color:#cedece; font-family:'Open Sans', sans-serif; margin-bottom:10px; }
.meta-data a { color:#cedece; }

.post-category { display:inline; }
.read_more-dots { display:none; }



/* Entry - Excerpt */
#loop-default .entry { clear:both; }
#loop-default .excerpt { clear:none; padding:0; }

.entry a {}
.entry a:hover {}

a.read_more { text-decoration:underline; font-style:italic; color:; display:block; }
a.read_more:hover {}

.entry .aligncenter { display:block; margin:0 auto 15px; }
.entry .alignnone { clear:both; float:none; }
.entry .alignleft { margin-right:3px; margin-bottom:3px; }
.entry .alignright { margin-left:3px; margin-bottom:3px; }
.entry img { max-width:100% !important; height:auto !important; }
.entry img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

.entry p { padding-bottom:20px; }
.excerpt p { padding-bottom:10px; }

.entry blockquote {}
.entry blockquote p { padding:0; margin:10px 45px 20px 20px; }
.entry ol, .entry ul { margin:5px 0 15px 20px; }
.entry ul { list-style:disc; }
.entry ol { list-style:decimal; }
.entry li { padding-bottom:7px; }
.entry strong {}
.entry small { font-size:11px; }
.entry table { line-height:18px; }
.entry table td { padding-right:7px; vertical-align:top; }

.entry .h1, .entry h1,
.entry .h2, .entry h2, 
.entry .h3, .entry h3, 
.entry .h4, .entry h4, 
.entry .h5, .entry h5, 
.entry .h6, .entry h6 
{ padding-bottom:15px; }



/* Gallery Shortcode */
.gallery {}
.gallery dl.gallery-item { display:block; float:left; }

.gallery dl dt.gallery-icon {}
.gallery img {}
.gallery-caption {}

.wp-caption { max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee; }
.wp-caption p { font-size:11px; line-height:14px; padding:5px 0 7px; }
.wp-caption img { display:inline; }

.wp-caption-text {}
.sticky {}
.bypostauthor {}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list { margin:0 2% 20px 0; width:48%; float:left; }

.layout-sitemap .display-list ul { margin:10px 0 0 0; }
.layout-sitemap .display-list ul ul { margin:0 0 7px 15px; list-style:disc; }
.layout-sitemap .display-list ul ul.children { padding:0; margin-left:15px; list-style:disc; }

.layout-sitemap .site-search { display:block; padding-bottom:10px; }






/* archived-post(s)
#################################################################################################### */

#loop-default-archived { padding-top:20px; margin-top:20px; border-top:solid 3px #ebebeb; }
#loop-default-archived img { max-width:100%; height:auto; }

#loop-default-archived .h5 { max-width:375px; padding:20px 0 0; margin:0 auto; }

#loop-default-archived .hentry { max-width:375px; padding:0; margin:15px auto; 
	border:solid 3px #ebebeb; border-radius: 3px; -webkit-border-radius: 3px;
	box-shadow:0 1px 2px rgba(0, 0, 0, 0.45); -webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.45);	
}

#loop-default-archived .hentry .archive-thumbnail-wrap { display:block; line-height:0; }
#loop-default-archived .hentry .attachment-archive-thumbnail { display:block; margin:0 auto; max-width:100%; height:auto; }
#loop-default-archived .hentry .h3 { padding:5px 7px; font-size:16px; color:#fff; width:auto; background:rgba(0,0,0,0.7); }
#loop-default-archived .hentry .h3 a { color:#fff; display:block; }






/* Flickr
#################################################################################################### */

.flickr-gallery { text-align:center; line-height:0; }
.flickr-gallery .image-wrap { position:relative; display:block; vertical-align:top; margin:5px 0 0 0; }
.flickr-gallery .image-wrap a { display:inline-block; }
.flickr-gallery .image-wrap img { max-width:100%; height:auto;  }


#setThumbs { clear:both; }
.setThumbs-indv, .photo-display-item { display:inline-block; width:80px; height:80px; }
.setThumbs-indv img, .photo-display-item img { margin:7px; margin-bottom:0px; border:solid 1px #999; }






/* image-modal
#################################################################################################### */

#image-modal { 
	width:80%; height:90%; max-height:700px;  background:rgba(255,255,255,0.8); 
	position:fixed; top:20px; left:10%; z-index:1020;
	border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; -o-border-radius:3px;
	box-shadow:0 1px 2px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 2px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5); -o-box-shadow:0 1px 2px rgba(0,0,0,0.5);
}
#image-modal .inside-wrapper { width:100%; height:100%; margin:0 auto; }
#image-modal .close { color:#fff; font-size:24px; cursor:pointer; position:absolute; top:5px; right:5px; z-index:1030; text-shadow:0 1px 2px rgba( 0,0,0,0.5 ); }
#image-modal .image-wrapper { line-height:0; padding:0.5%; width:99%; height:99%; }
#image-modal .image-wrapper img { max-width:100%; max-height:100%; width:auto; height:auto; }
#image-modal .image-title { font-size:20px; font-family: 'Cutive Mono', serif; padding:5px 0; background:rgba(0,0,0,0.5); position:absolute; bottom:0; left:0; width:100%; color:#fff; text-shadow:0 1px 2px rgba( 0,0,0,0.5 ); }
#image-modal .image-title a { color:#fff; }









